<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnt.priros.mapper.FirmMapper">

  <select id="findByFirmCode" resultType="Firm">
    SELECT *
    FROM `firm`
    WHERE `firmCode` = #{firmCode}
  </select>


</mapper>
