<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnt.priros.mapper.NiceCheckPlusMapper">
  <select id="selectOne" resultType="NiceCheckPlus">
    SELECT
      *
    FROM
      nice_check_plus
    WHERE
      respondNumber=#{responseNumber}
  </select>
</mapper>
